<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create Blog</title>
        <%- include("partials/head.ejs") %>
    </head>
 <body>
        <main>
        <%- include("partials/member_nav.ejs") %>
	<section>
        <div class="booking-title">
        <h1>Blog Create</h1>
    </div>
        <!--blog box-->
        <%- include("partials/blog_create_detail.ejs") %>
	</section>
    
     <%- include("partials/footer_member.ejs") %>
    </main>
    </body>

</html>