<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Delete Blog</title>
        <%- include("partials/head.ejs") %>
    </head>
 <body>
        <main>
        <%- include("partials/member_nav.ejs") %>
	<section>

        <h1>Delete Blog</h1>

        <%- include("partials/blog_delete_user") %>
	</section>
    
     <%- include("partials/footer_member.ejs") %>
    </main>
    </body>

</html>