<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Homepage</title>
</head>
<body>
    <main>
        <%- include("partials/member_nav.ejs") %>
     <section>

    <%- include 
        </section>
        <%- include("partials/footer_member.ejs") %>
    </main>
</body>
</html>
