<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Homepage</title>
        <%- include("partials/head.ejs") %>
    </head>
    <body>
        <main>
            <%- include("partials/header.ejs") %>
            <section>
              <!--Top section-->
                    <div class="image">
                      <p>LIMITED TIME OFFER VISIT IN OUR CLUB</p>
                      <p>VISIT IN OUR CLUB IN THE WEEKEND</p>
                      <p>FOR ONLY</p>
                      <p>$8</p>
                    </div>
                    <!--Bottom section-->
                    <article class="service-container">
                      <div class="service-title">
                        <h2>What we Offer?</h2>
                      </div>
                      <div class="service-cards">
                        <div class="service-card">
                          <h2>24/7 GYM</h2>
                          <p>visit our club at any time you want!</p>
                        </div>
                        <div class="service-card">
                          <h2>Variety classes</h2>
                          <p>WE HAVE VARIETY OF CLASSES OPTION FROM YOGA TO PILATE!</p>
                        </div>
                        <div class="service-card">
                          <h2>Personal training</h2>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.?</p>
                        </div>
                      </div>
                    </article>
            </section>
            <%- include("partials/footer.ejs") %>
        </main>
    </body>
</html>