<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About us</title>
        <%- include("partials/head.ejs") %>
    </head>
 <body>
        <main>
        <%- include("partials/member_nav.ejs") %>
	<section>
        <article class="container-aboutus">
            <div class="aboutus-title">
              <h2>About us</h2>
            </div>
            <div class="aboutus-boxs">
              <div class="aboutus-box">
                <p>
                  High Street Gym is Australia's newest brand in health and
                  fitness, with gyms opening throughout the Brisbane metropolitan
                  area.
                </p>
              </div>
              <div class="aboutus-box">
                <p>
                  We are a family operated business that has little to do with the
                  rest of the fitness industry. Our gym world does not include the
                  annoying telemarketers or membership consultants. Our gyms speak
                  for themselves, our members do our marketing. We believe that
                  word of mouth has way more credibility than something that a
                  marketing machine dreams up. 
                </p>
              </div>
            </div>
          </article>
	</section>
    
     <%- include("partials/footer_member.ejs") %>
    </main>
    </body>

</html>