<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <main>
        <%- include("partials/member_nav.ejs") %>
        <section class="contact-location">
            <div>
            <h1>High street gym location</h1>
            <p>
                We are located at:
                
                <ul>
                    <li>Ashgrove</li>
                    <li>Brisbane City</li>
                    <li>Chermside</li>
                    <li>Graceville</li>
                    <li>Westlake</li>
                </ul>
            </p>
        </div>
        
        <div>
<h2>Contact us</h2>
<p>You can contact us in these contact below:</p>
<p>
<ul>
    <li>Phone Number: +61 7 3006 6200</li>
    <li>Email: highstreetgym@businessmail.com</li>
   
</ul>
</p>
        </div>
        </section>
        <%- include("partials/footer_member.ejs") %>
    </main>
</body>
</html>
