<section class="body-background-box">

<form action="/blog_user_delete_confirm" method="post">

    <input type="hidden">
    <input type="hidden">

    <label for="blog_post" name=""></label>
    <input type="text">

    <label for=""></label>
    <input type="text">

    <label for=""></label>
    <input type="text">

    <label for=""></label>
    <textarea name="" id=""></textarea>

    <div></div>
    <div class="">
        <input type="submit" name="action" value="delete">
    </div>
</form>
</section>