<section class = "body-background-box">

<form action="/blog_create_confirm" method="post" class="user-form-grid">
    
    <label for="blog-title" class="blog-create-form">Title name: </label>
    <input type="text" name="blog_title" id="blog-title" required>

    <label for="blog-post" class="blog-create-form">Post Detail: </label>
<textarea name="blog_post" id="blog-post" rows="10" className="input-contact" required>
</textarea>





<div class="button">
    <a href="/blog_view_all_post">Back</a>
  </div>

  <div class ="">
    <input type="submit" name="action" value="create" class="signup-button">
    </div>



</form>
</section>