<% for (const blog of blogs) {%>
    <section class="body-background-box-noalign-blog">
    <article id="blog-title">
        <div>
        <h2> <%= blog.blog_title %></h2>
    </div>

</article>
    </section>
<%} %>