<footer>
   <div class="footer">
    <div>&copy;High Street Gym 2024</div>
    <div>
      <a
        href="/memberlocation"
        >Location</a
      >
      <a
        href="/memberlocation"
        >Contact us</a
      >
    </div>
    <div class="bottom-footer">
      <a href="/policymember">Copyright</a>
      <a href="/policymember">Privacy policy</a>
      <a href="/stafflogin" >STAFF LOGIN</a>
    </div>
</div>
  </footer>