<footer>
  <div class="footer">
    <div>&copy;High Street Gym 2024</div>
    <div>
      <a
        href="/location"
        >Location</a
      >
      <a
        href="/location"
        >Contact us</a
      >
    </div>
    <div class="bottom-footer">
      <a href="/policy">Copyright</a>
      <a href="/policy">Privacy policy</a>
      <a href="/stafflogin" >STAFF LOGIN</a>
    </div>
  </div>
  </footer>