<script src="/hamburger.js"></script>
<header>
    <nav class="navbar">
        <div class="logo"><a href="/homepage">
          <img src="../img/High-Street-Gym.png" alt="logo"/>
      </a>
        </div>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="/homepage" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/aboutus" class="nav-link">About us</a>
          </li>
          <li class="nav-item">
            <a href="/blog" class="nav-link">Blog</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link">Classes</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link">Login</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
</header>