<header>
    <nav class="navbar">
        <div class="logo"><a href="/member_homepage">
          <img src="../img/High-Street-Gym.png" alt="logo"/>
      </a>
        </div>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="/member_homepage" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/member_aboutus" class="nav-link">About us</a>
          </li>
          <li class="nav-item">
            <a href="/blog_view_all_post" class="nav-link">Blog</a>
          </li>
          <li class="nav-item">
            <a href="/class_page" class="nav-link">Classes</a>
          </li>
          <li class="nav-item">
            <a href="/member_profile" class="nav-link">Profile</a>
          </li>
          <li class="nav-item">
            <a href="/booked_class" class="nav-link">Booking</a>
          </li>
          <li class="nav-item">
            <a href="/user_logout" class="nav-link">Logout</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
</header>